# Data
data/raw/*
data/processed/*
data/interim/*
data/external/*
data/annotations/*

# Checkpoints
experiments/checkpoints/*

# Logs
experiments/logs/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints

# System
.DS_Store
Thumbs.db

# Models
models/*

# Secrets / Environment
.env

# Virtual environment
myenv/